<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Employee Data</title>
</head>
<body>
        <h2>Delete Data</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>S.No.</th>
                            <th>Id</th>
                            <th>Emp Name</th>
                            <th>Emp Email</th>
                            <th>Address</th>
                            <th>Employment Date</th>
                            <th>DOB</th>
                        </tr>
                        <%record.forEach((result,key)=>{%>
                            <tr>
                                <td><%=key+1%></td>
                                <td><%=result.id%></td>
                                <td><%=result.name%></td>
                                <td><%=result.email%></td>
                                <td><%=result.address%></td>
                                <td><%=result.date%></td>
                                <td><%=result.DOB%></td>
                            </tr>
                        <%})%>
                       
                </table>
</body>
</html>